#
# Starts DevPortal with hot reloading and pretty logging:
#
# docker compose up --no-log-prefix | npx --yes pino-pretty --colorize --translateTime
#
# Changes to dynamic-plugins*.yaml will be processed into app-config running this:
#
# docker compose exec devportal /app/install-dynamic-plugins.sh /app/dynamic-plugins-root
#

services:
  devportal:
    # depends_on:
    #   - kubectl-proxy
    image: veecode/devportal:latest
    ports:
      - "7007:7007"
    environment:
      - DEVELOPMENT=true
      - NODE_ENV=development
      # will use shell value
      - VEECODE_PROFILE=local
    volumes:
      # your config will add/override the default image config
      - ./app-config.yaml:/app/app-config.local.yaml:ro
      # dynamic plugins config (just enable/disable plugins)
      - ./dynamic-plugins.yaml:/app/dynamic-plugins.yaml:ro
      # default dynamic plugins config (with default values)
      #- ./dynamic-plugins.default.yaml:/app/dynamic-plugins.default.yaml:ro
      # examples folder
      - ./examples:/app/examples:ro
      # RBAC policy (remove later)
      - ./rbac-policy.csv:/app/rbac-policy.csv:ro

  # kubectl-proxy:
  #   image: alpine/socat:latest
  #   command: ["tcp-listen:8001,fork,reuseaddr", "tcp-connect:host.docker.internal:8100"]
  #   network_mode: service:devportal
